.companyName {
  margin-block-end: 1rem; // 16px
  font-family: var(--font-playfair);
  color: var(--text-primary);
}

.companyDescription {
  margin-block-end: 1rem; // 16px
  color: var(--text-secondary);
}
